<footer class="d-flex bg-dark flex-wrap text-white p-2 mt-5 justify-content-between">

    <div class="container text-center ">

        <div class="row mt-3 dark-grey-text">

          <div class="col-md-8 col-lg-8 col-xl-9">
           
              <div class="row p-2"> 
                   <div class="col-lg-2">
                   <img src="https://static.thenounproject.com/png/1034014-200.png" id="a" > 
                   </div>
                   <div class="col-lg-10">
                   <h2 class="text-uppercase font-weight-bold text-start "> Travel Tree</h2>
                   <hr>
                   </div> 
              </div> 
            <p> 
              “Travel is the main thing you purchase that makes you more extravagant”. 
              We, at ‘Travel Tree’, swear by this and put stock in satisfying travel
              dreams that make you perpetually rich constantly. We have been moving excellent
              encounters for a considerable length of time through our cutting edge planned 
              occasion bundles and other fundamental travel administrations. We rouse our clients
              to carry on with a rich life, brimming with extraordinary travel encounters.
            </p>
          </div>
         
          <div class="col-md-4 col-lg-4 col-xl-3">
  
              <div class="row text-center">
                  <p>  <b>FOLLOW US ON: </b> <p>
                 </div>
  
            <div class="row text-center">
                   <p> 
                   <img src="https://www.designbust.com/download/640/png/facebook_logo_transparent512.png" alt="" class="facebook">
                  Facebook: Travel Tree<p>
            </div>
      
      
            <div class="row text-center">
                  <p>
                  <img src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-0.png" alt="" class="instagram">
                      Instagram: travel_tree<p>
           </div>
      
            <div class="row text-center">
               <p>
                <img src="https://pngimg.com/uploads/twitter/twitter_PNG95259.png" alt="" class="twitter">
                twitter: @TravelTree<p>
              </div>

          </div>
  
      </div>

     <div class="row p-1">
     <p>  ©️ 2021 TRAVEL TREE Pvt. Ltd. </p>  
     </div>

     </div>

   </footer>