<div class="card h-100 shadow bg-secondary">
  <img src={{productObj.nailImage}} class="card-img-top w-100"
    alt="..." style="width: 100%; height: 100%;">
  <div class="card-body">
    <h5 class="card-title" style="color: #80B686;"> {{productObj.nailColor}} </h5>
    <p class="card-text">
    {{productObj.description}}
    </p>
    <button class="btn btn-dark text-white" (click)="sendProductDetailsToParent(productObj.nailColor)"><i class="fas fa-plus-square"></i>Add Product to the Cart</button>
  </div>
</div>


