
<!-- pills -->
<ul class="nav nav-pills justify-content-evenly mt-3">
  <li class="nav-item">
    <a class="nav-link "  routerLink="mobiles" routerLinkActive="active">Mobiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="bikes" routerLinkActive="active">Bikes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="televisions" routerLinkActive="active">Televisions</a>
  </li>
 
</ul>
<br>


<div class="container text-white" style="background-image: url('https://media.istockphoto.com/videos/blue-neon-light-abstract-visual-geometry-motion-graphic-technology-video-id1179960209?s=640x640') ; ackground-size: 100% 100%;
background-attachment: fixed;">

    <router-outlet></router-outlet>
    <hr>
</div>

<br>
<br>
<br>