<div  class="row mt-5 bg-white mx-auto shadow "
    style="justify-content: center; max-width: 900px; border-radius: 15px; 
    background-image: url('https://media.istockphoto.com/photos/asian-food-on-wooden-background-copy-space-picture-id882967324?k=6&m=882967324&s=612x612&w=0&h=1kxJC8CDqnH-ZSf4d_SdPSZTHm67ZtsmK74vsgB3ZXg=');
    background-repeat: no-repeat;
     background-size: cover; ">

    <div class="col-md-7 p-4 ps-5">
        <div class="form mt-2">
            <h1 class="text-center mt-3">Get In Touch</h1>
           
            <div class="mb-3">
                <label for="em" class="form-label text-light">Full Name</label>
                <input type="email" id="em" placeholder="ex:TravelTree" class="form-control p-2">
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label text-light">Your Email</label>
                    <input type="email" class="form-control p-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="traveltree@gmail.com">
                  </div>

                  <div class="form mb-3">
                    <label for="message" class="form-label text-light">Email Message</label>
                        <textarea name="feedback" id="a" rows="10" class="form-control h-100" placeholder="type your message...."></textarea>   
                    </div>

                    <div class=" button d-grid gap-2 col-4 pt-2 pb-2 mb-3">
                        <button class="btn btn-dark"> Send Email </button>
                    </div>
        </div> 

    </div>

    <div class="col-md-5 ">
    </div>

   </div>

