<!-- callouse -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner" style="height: 250px; width: 100%; ">
    <div class="carousel-item active">
      <img src="https://www.workaway.info/gfx/2015/content/frontpage/header_frontpage_5.jpg" class="d-block mx-auto" alt="..." style="width: 100%;" >
      <div class="carousel-caption d-none d-md-block mb-5">
        <h5>First Grade Electronics</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn03.collinson.cn/blog/2019/july/header-seven-stages-travel-tips-packing-4c71f821-e340-4d2f-91f0-8731fbc2e51c.png?h=380&la=en&w=1280" class="d-block mx-auto" alt="..." style="width: 100%;">
      <div class="carousel-caption d-none d-md-block mb-5">
        <h5>Best Quality in the market</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<!-- cards body -->
      <div class="row bl-5">
        <div class="col-md-8" >
          <div class="container-fluid " >
            <div class="row">
              <div class="col-sm-12 rounded-3 border border-dark shadow " style=" background-color: linear-gradient(to right, #3a7bd5 0%, #3a6073 100%);">
                <br>
                <h3 style="text-align: center; font-family: 'Noto Serif', serif;">Offers Of The Day</h3>
                <div id="inam" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                       <div class="container">
                         <div class="row">
                           <div class="col-sm-12 col-lg-4">
                                              <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                  <div class="card-img-block">
                                                      <img class="card-img-top" src="https://www.choicehotels.com/cms/images/sleep-inn/image_sleep-inn-about-01/image_sleep-inn-about-01.jpg" alt="Card image cap">
                                                  </div>
                                                    <div class="card-body pt-0" style="background-color: black; color: white;">
                                                      <h5 class="card-title">Florence Garza Hotel</h5>
                                                      <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                    </div>
                                              </div>
                             
                           </div>
                           <div class="col-sm-12 col-lg-4">
                                              <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                  <div class="card-img-block">
                                                      <img class="card-img-top" src="https://www.ihgplc.com/-/media/ihg/images/brands/regent/regent_carousel_1.jpg" alt="Card image cap">
                                                  </div>
                                                    <div class="card-body pt-0" style="background-color: black; color: white;">
                                                      <h5 class="card-title">Inter Continental Hotel</h5>
                                                      <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                    </div>
                                              </div>
                             
                           </div>
                           <div class="col-sm-12 col-lg-4">
                                              <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                  <div class="card-img-block">
                                                      <img class="card-img-top" src="https://media.cntraveler.com/photos/608b844afff15401f8abdcc5/1:1/w_1155,h_1155,c_limit/Zannier%20Hotels%20Ba%CC%83i%20San%20Ho%CC%82%20-%20Ba%CC%80%20Hai%202%20-%20%C2%A9%20Frederik%20Wissink%20for%20Zannier%20Hotels.jpg" alt="Card image cap">
                                                  </div>
                                                    <div class="card-body pt-0" style="background-color: black; color: white;">
                                                      <h5 class="card-title">Cora Mandal Resort Hotels</h5>
                                                      <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                    </div>
                                              </div>
                             
                           </div> 
                           
                         </div>
                         
                       </div>
          
                      
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-12 col-lg-4">
                                             <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                 <div class="card-img-block">
                                                     <img class="card-img-top" src="https://static.prod.r53.tablethotels.com/media/ecs/global/home/homeimagery/1255494.jpg" alt="Card image cap">
                                                 </div>
                                                   <div class="card-body pt-0" style="background-color: black; color: white;">
                                                     <h5 class="card-title">Big Bang Hotel</h5>
                                                     <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                   </div>
                                             </div>
                            
                          </div>
                          <div class="col-sm-12 col-lg-4">
                                             <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                 <div class="card-img-block">
                                                     <img class="card-img-top" src="https://i.pinimg.com/originals/0d/ef/c9/0defc947a01b61f9abe7f230adcd8abf.jpg" alt="Card image cap">
                                                 </div>
                                                   <div class="card-body pt-0" style="background-color: black; color: white;">
                                                     <h5 class="card-title">Heritance Hotel & Spa</h5>
                                                     <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                   </div>
                                             </div>
                            
                          </div>
                          <div class="col-sm-12 col-lg-4">
                                             <div class="card profile-card-5 mb-4" style="background-color: black;" >
                                                 <div class="card-img-block">
                                                     <img class="card-img-top" src="https://static.dezeen.com/uploads/2021/03/toggle-hotel-tokyo-klein-dytham-architecture-two-tone-colourful_dezeen_2364_sq_4-411x411.jpg" alt="Card image cap">
                                                 </div>
                                                   <div class="card-body pt-0" style="background-color: black; color: white;">
                                                     <h5 class="card-title">Hotel Deezan</h5>
                                                     <button class="btn btn-secondary" data-bs-target="#mdl1" data-bs-toggle="modal">See More..</button>
                                                   </div>
                                             </div>
                            
                          </div>
                          
                        </div>
                        
                      </div>
          
                      
                    </div>
                    
                  </div>
                  <a href="#inam" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a href="#inam" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                  
                </div>
                
              </div>
              
            </div>
            <br>
            <br>




            <div class="container rounded border border-dark " style="background-color: #DBE2E9;" >
              <h1 class="h1s" style=" text-align: center;">Best Choice of Restaurants around you</h1>
            <br>
            <div class="container shadow bg-dark rounded">
              <br>
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                  <div class="card " >
                    <img src="https://im.whatshot.in/content/2015/Oct/1445570806-so-the-sky.jpg" class="card-img-top b-5" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRThdR-CouNiKvq8am2Br61E6NdIwPE-AVVfw&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://i.guim.co.uk/img/media/cb7ecc99b0a2e64b18468d655f3226b0cd71be6a/0_283_5843_3505/master/5843.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=7c9fc03d5c4f552fb624dad22adf1298" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://imgmedia.lbb.in/media/2019/04/5ca23189657a95676c7bf384_1554133385471.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            <br>
            </div>
            <br>
            <br>


            <div class="alert alert-primary" role="alert">
              Due to COVID-19, there may be differnet rates and different arrangements. We are sorry for you inconvinience but we unable to fix it due to upcoming issues. It is needless to say that one of us must always be safe enough to follow the precautions. There may be places you might not be able to cover due to the current sitation. Also, please make sure that you always have you mask on visiting places and when going out to different places, carry a hand sanitizer. Happy Travelling and Exploring.
            </div>
            
          </div>
        </div>
















        <div class="col-md-4">
          <h1 style="text-align: center;">Top Tourism Picks</h1>
          <div class="container">
            <div class="container" style="width:100%">
              <div class="card border-light bg-light" style="width: 100%;">
                <div class="card-body" >
                  <div class="row">
                    <div class="col-md-6" style="vertical-align: middle; text-align: center ;display: table-cell;">
                      <img src="https://media.timeout.com/images/105762050/630/472/image.jpg" class="img-fluid align-self-center d-flex rounded" alt="..." style="display: block;object-fit: cover; height: auto">
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Bali</h5>
                        <p class="card-text">Bali, the most famous tourist destination in Indonesia. Known for its seductive beauty that blends with its  beautiful natural beaches, warm friendly people, scenic mountains,  world known  resorts and rich culture. </p>
                        <button class="btn text-primary fw-bold shadow" data-bs-target="#mdl1" data-bs-toggle="modal" style="width: 100%;">View Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="shadow">
            <div class="container" style="width:100%">
              <div class="card border-light bg-light" style="width: 100%;">
                <div class="card-body" >
                  <div class="row">
                    <div class="col-md-6" style="vertical-align: middle; text-align: center ;display: table-cell;">
                      <img src="https://www.tripsavvy.com/thmb/4AAWBQ3ghpXji2fAY5UWBQU-L70=/3992x2992/filters:fill(auto,1)/aerial-view-of-sigiriya-rock-at-misty-morning--sri-lanka--drone-photo--1129567907-a6628ce7d636462f9a0e0361a3808178.jpg" class="img-fluid align-self-center d-flex rounded" alt="..." style="display: block;object-fit: cover; height: auto">
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Sri Lanka</h5>
                        <p class="card-text">Sri Lanka’s rich culture and history, gorgeous landscape and scenery, and plentiful wildlife-spotting opportunities are the main reasons why the country tops many travelers’ bucket lists.</p>
                        <button class="btn text-primary fw-bold shadow" data-bs-target="#mdl1" data-bs-toggle="modal" style="width: 100%;">View Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="shadow">
            <div class="container" style="width:100%">
              <div class="card border-light bg-light" style="width: 100%;">
                <div class="card-body" >
                  <div class="row">
                    <div class="col-md-6" style="vertical-align: middle; text-align: center ;display: table-cell;">
                      <img src="https://images.adsttc.com/media/images/60b6/09d7/f91c/8199/fb00/00cd/newsletter/shutterstock_1196821240.jpg?1622542766" class="img-fluid align-self-center d-flex rounded" alt="..." style="display: block;object-fit: cover; height: auto">
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Dubai</h5>
                        <p class="card-text">Discover Dubai, with world-class tourism and magnificent tailored destinations. Explore a wide range of choices and start planning your trip now!</p>
                        <button class="btn text-primary fw-bold shadow" data-bs-target="#mdl1" data-bs-toggle="modal" style="width: 100%;">View Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="shadow">
          </div>
        </div>
      </div>

      <br>
      <br>